[submodule "nuttx"]
	path = nuttx
	url = https://github.com/lnls-dig/nuttx.git
[submodule "apps"]
	path = apps
	url = https://github.com/lnls-dig/nuttx-apps.git
[submodule "new_rffe/mbed-os"]
	path = new_rffe/mbed-os
	url = git@gitlab.cnpem.br:GIE/libraries/mbed-os.git
